:root {
  --primary-color: #64c2ec;
  --secondary-color: #277ca5;
  --accent-color: #b8f5ff;
  --dark-text-color: #113547;
  --black-color: #000000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--accent-color);
  color: var(--dark-text-color);
}

/* Navbar container */
.nav-container {
  background-color: var(--primary-color);
  padding: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


/* Navbar styles */
nav {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--accent-color);
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Hamburger icon */
.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  ul.show {
    display: flex;
  }
}

/* Other styles */
/* Add more styles for different elements as needed */
